@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');
/* font-family: 'Fredoka', sans-serif; */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

@import url('./bootstrap-5.1.3-dist/css/bootstrap.css');

/* pure.css */
@import url('https://unpkg.com/purecss@2.0.6/build/pure-min.css');
@import url('https://unpkg.com/purecss@2.0.6/build/grids-responsive-min.css');


body {
    padding: 20px;
    font-family: 'Fredoka', sans-serif;
    font-size: 16px;
}

.profile{
    width: 150px;
    height: auto;
    border-radius: 50%;
}

.header {
    text-align: center;
    font-size: 100px;
}

.content {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #258cdb;
    text-decoration: none;
}
a:hover {
    color: #2571db;
}